.libs
*.swp
*.slo
*.la
*.swo
*.lo
*~
*.o
print.txt
.rsync
*.tar.gz
dist
build[78]
build
tags
update-readme
*.tmp
test/Makefile
test/blib
test.sh
t.sh
t/t.sh
t/servroot/
releng
reset
*.t_
.rsync
genmobi.sh
*.mobi
misc/chunked
reindex
src/body.h
src/module.c
src/util.h
src/module.h
src/body.c
src/util.c
ctags
go
util/gprof
all
build1[01]
buildroot/
work/
